nav, footer {
	background: #563d7c;
}
#mainContainer {
	background-color:rgba(204,51,255,.5);
}
#contentContainer {
	background-color:rgba(65,173,72,1);
	min-height: 750px;
}
#address{
	min-height: 100px;
}
#links{
	text-align:right;
}
#links ul{
	list-style-type: none;
}
#map iframe {
	width: 100%;
	height: 200px;
	border: none;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 767px){
	#logo {
		height: 70px;
		width: 145px;
		background: url(../_images/logoWeb.png) 0 0;
	}
	#logo:hover {
		background: url(../_images/logoWeb.png) 0 70px;
	}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	#logo {
		height: 70px;
		width: 145px;
		background: url(../_images/logoWeb.png) 0 0;
	}
	#logo:hover {
		background: url(../_images/logoWeb.png) 0 70px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#logo {
		height: 70px;
		width: 157px;
		background: url(../_images/logoWeb.png) 0 0;
	}
	#logo:hover {
		background: url(../_images/logoWeb.png) 0 70px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	
}